<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST">{% csrf_token %}
        <p>
            <label for="name">Imię:</label><input type="text" name="name" id="name">
        </p>
        <p>
            <label for="email">Email:</label><input type="email" name="email" id="email">
        </p>
        <p>
            <label for="category">Category:</label><select name="category" id="category">
                <option value="question">Pytanie</option>
                <option value="other">Inne</option>
            </select>
        </p>
        <p>
            <label for="subject">Subject:</label><input type="text" name="subject", id="subject">
        </p>
        <p>
            <label for="body">Body:</label><textarea name="body" id="body"></textarea>
        </p>
        <p>
            <input type="submit" value="Wyśli">
        </p>
    </form>
</body>
</html>
